<% @entries.each do |entry| %>
    <div class="row">
      <article>
        <h3><%= link_to entry.title, entry %></h3>
        <%= entry.description_html.html_safe %>
      </article>
    </div>
<% end %>
